<table class="footer" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="width:100%; max-width:768px; margin:0 auto; border:none; background-color:#292929; color:#DEE3DF;">
    <tbody>
        <tr>
            <td style="padding:20px;">
                <table class="footer" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none; background-color:#292929; color:#DEE3DF; font-size:13px; line-height:1.25;">
                    <tbody>

                        <tr>
                            <td style="text-align:center;">
                                <table class="footer" role="presentation" cellspacing="0" cellpadding="0" width="auto" style="border:none; background-color:#292929; margin:auto;">
                                    <tbody>
                                        <tr>
                                            <td width="25" style="width:25px;">
                                                <a href="[[web-link]]">
                                                    <img width="100%" src="[[web-logo]]" alt="">
                                                </a>
                                            </td>
                                            <td style="padding-left:7px; padding-right:2px;">
                                                <a href="[[web-link]]" style="text-align:left; text-decoration:none; text-transform:uppercase; letter-spacing:0.25px; font-size:20px; font-weight:bold; color:#DEE3DF;">
                                                    [[web-title]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align:center; padding-top:20px; padding-bottom:15px;">
                                <a style="color:#DEE3DF; text-decoration:none;" href="[[contact-link]]">
                                    [[contact-text]]
                                </a>
                                <span style="padding:0 5px;">|</span>
                                <a style="color:#DEE3DF; text-decoration:none;" href="[[privacy-link]]">
                                    [[privacy-text]]
                                </a>
                                <span style="padding:0 5px;">|</span>
                                <a style="color:#DEE3DF; text-decoration:none;" href="[[terms-link]]">
                                    [[terms-text]]
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align:center; padding-top:15px; opacity:75%; border-top:solid 1px #dee3df57; font-size:90%;">
                                [[web-slogan]]
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align:center; padding-top:15px; opacity:75%; font-size:90%;">
                                [[web-company]]
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; padding-top:6px; opacity:75%; font-size:90%;">
                                [[web-copyright]]
                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>
        </tr>
    </tbody>
</table>