<table class="header" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none; background-color:#292929; color:#DEE3DF; font-size:13px; line-height:1.25;">
    <tbody>
        <tr>
            <td style="padding:20px;">
                <table class="header" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none; background-color:#292929; color:#DEE3DF; font-size:13px; line-height:1.25;">
                    <tbody>
                        <tr>
                            <td width="35" style="width:35px;">
                                <a href="[[web-link]]">
                                    <img width="100%" src="[[web-logo]]" alt="">
                                </a>
                            </td>
                            <td style="padding-left:10px;">
                                <a href="[[web-link]]" style="text-align:left; text-decoration:none; text-transform:uppercase; letter-spacing:1px; font-size:26px; font-weight:900; color:#5AC151;">
                                    [[web-title]]
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tr>
    </tbody>
</table>