<div class="body" style="padding:0; margin:0; font-family:Verdana, Arial, sans-serif; padding:20px;">
   <table class="section" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none;">
      <tbody>
         <tr>
            <td>
               <table class="container" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none; max-width:768px; margin:0 auto;">
                  <tbody>
                     <tr>
                        <td>
                           [[template-header]]
                        </td>
                     </tr>
                     <tr>
                        <td>
                           [[template-content]]
                        </td>
                     </tr>
                     <tr>
                        <td>
                           [[template-footer]]
                        </td>
                     </tr>
                  </tbody>
              </table>
            </td>
         </tr>
      </tbody>
   </table>
</div>