<div class="body" style="background-color:#ededed; padding:0; margin:0; font-size:15px; line-height:1.35; font-family:Tahoma, Arial, sans-serif; padding-bottom:25px;">
   <table class="section" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none; color:#292929; background-color:-#ededed;">
      <tbody>
         <tr>
            <td>
               <table class="container" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none; max-width:768px; margin:0 auto;">
                  <tbody>
                     <tr>
                        <td>
                           [[template-header]]
                        </td>
                     </tr>
                     <tr>
                        <td>
                           [[template-content]]
                        </td>
                     </tr>
                     <tr>
                        <td>
                           [[template-footer]]
                        </td>
                     </tr>
                  </tbody>
              </table>
            </td>
         </tr>
      </tbody>
   </table>
</div>