<table class="content" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none;">
   <tbody>
      <tr>
         <td style="padding:20px;">
            <table class="content" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none;">
               <tbody>
                  <tr>
                     <td style="padding:0;">
                        [[text-title]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-hello]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-info-1]]
                     </td>
                  </tr>

                  <tr>
                     <td  style="padding-top:15px;">
                        [[text-details]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding:0;">
                        <table class="content" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none;">
                           <tbody>
                              <tr>
                                 <td style="width:20px; padding-top:0px; vertical-align:top;">
                                    &#x2714;
                                 </td>
                                 <td style="padding-top:0px; vertical-align:top;">
                                    [[text-device]]
                                 </td>
                              </tr>
                              <tr>
                                 <td style="width:20px; padding-top:10px; vertical-align:top;">
                                    &#x2714;
                                 </td>
                                 <td style="padding-top:10px; vertical-align:top;">
                                    [[text-location]]
                                 </td>
                              </tr>
                              <tr>
                                 <td style="width:20px; padding-top:10px; vertical-align:top;">
                                    &#x2714;
                                 </td>
                                 <td style="padding-top:10px; vertical-align:top;">
                                    [[text-datetime]]
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-info-2]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-end]]
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>