<table class="content" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="width:100%; max-width:768px; margin:0 auto; border:none; color:#292929; background-color:#ffffff;">
   <tbody>
      <tr>
         <td style="padding:20px;">
            <table class="content" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none; color:#292929; background-color:#ffffff; font-size:14px; line-height:1.50;">
               <tbody>
                  <tr>
                     <td style="color:#3E8E36; vertical-align:middle; font-weight:bold; font-size:140%;">
                        [[text-title]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:20px;">
                        [[text-hello]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-info-1]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-info-2]]
                     </td>
                  </tr>

                  <tr>
                     <td style="padding-top:10px;">
                        <table class="content" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none; color:#292929; background-color:#ffffff; font-size:14px; line-height:1.50; padding:5px;">
                           <tbody>
                              <tr>
                                 <td style="width:15px; padding-top:0px; color:#6fae72; vertical-align:top;">&#9830;</td>
                                 <td style="padding-top:0px; vertical-align:top;">[[text-info-list-1]]</td>
                              </tr>
                              <tr>
                                 <td style="width:15px; padding-top:3px; color:#6fae72; vertical-align:top;">&#9830;</td>
                                 <td style="padding-top:3px; vertical-align:top;">[[text-info-list-2]]</td>
                              </tr>
                              <tr>
                                 <td style="width:15px; padding-top:3px; color:#6fae72; vertical-align:top;">&#9830;</td>
                                 <td style="padding-top:3px; vertical-align:top;">[[text-info-list-3]]</td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>

                  <tr>
                     <td style="padding-top:35px; text-align:center;">
                        <a href="[[link-login]]" style="background-color:#3E8E36; color:#ffffff; cursor:pointer; text-decoration:none; border:none; border-radius:7px; padding:8px 15px; font-size:14px; line-height:1.1">
                           [[text-login-1]]
                        </a>
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-bottom:30px; padding-top:15px; font-weight:bold; text-align:center;">
                        [[text-login-2]]
                     </td>
                  </tr>

                  <tr>
                     <td style="padding-top:0px;">
                        [[text-info-3]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-info-4]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-end]]
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>