<table class="content" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none;">
   <tbody>
      <tr>
         <td style="padding:20px;">
            <table class="content" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none;">
               <tbody>
                  <tr>
                     <td  style="padding:0;">
                        [[text-title]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-hello]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-info-1]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[user-code]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-info-2]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-end]]
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>