<table class="content" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="width:100%; max-width:768px; margin:0 auto; border:none; color:#292929; background-color:#ffffff;">
   <tbody>
      <tr>
         <td style="padding:20px;">
            <table class="content" role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border:none; color:#292929; background-color:#ffffff; font-size:14px; line-height:1.50;">
               <tbody>
                  <tr>
                     <td style="color:#3E8E36; vertical-align:middle; font-weight:bold; font-size:140%;">
                        [[text-title]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:18px;">
                        [[text-hello]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-info-1]]
                     </td>
                  </tr>

                  <tr>
                     <td style="padding:20px 0px; text-align:center;">
                        <table class="content" role="presentation" cellspacing="0" cellpadding="0" width="auto" style=" margin:auto; border:none; background-color:#f9f9f9; padding:10px 25px; border-radius:8px; border:solid 1px #dbdbdb;">
                           <tbody>
                              <tr>
                                 <td style="color:#3E8E36; font-weight:bold; font-size:35px; line-height:1.25; letter-spacing:2px;">
                                    [[user-code]]
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>

                  <tr>
                     <td style="padding-top:0px;">
                        [[text-info-2]]
                     </td>
                  </tr>
                  <tr>
                     <td style="padding-top:15px;">
                        [[text-end]]
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>